# Dependencies
node_modules/

# Environment variables (VERY IMPORTANT)
.env
.env.*
newsletter-api-main/.env

# Build outputs
dist/
build/
coverage/

# Logs
*.log

# OS files
.DS_Store

# IDE / Editor
.vscode/
.idea/

# Temporary files
tmp/
.temp/